.btn {
  border-radius:300px;
  font-size: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.register-block{
  background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
body {
  color: white
}

h1,h2,h3,label {
  color: white;
}
button{
  float:right;
}

#registerForm{
  border: 2px solid green;
  border-radius: 5px;
}
