<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(assets/images/about.jpg)">

        <div class="carousel-content">
          <div class="container-fluid text-center">
            <h2 class="animation animated-item-1">A growing number of
              <span>supermarkets</span>
            </h2>
            <p class="animation animated-item-2">allow their customers to shop online for their groceries,their order is prepared for
               pick-up or delivered directly to their door. Shopping from home for your grocery store items is a great way to deal with this necessary chore:
              It's convenient, it's a time saver,and sometimes you can even take advantage of online sales not otherwise
              accessible.</p>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>A BETTER WAY TO FUEL YOUR WORKDAY</h2>

  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
    <span><i class="material-icons">add_shopping_cart</i> </span>
      <h4>CONVENIENCE</h4>
      <p>We exist to make your life easier. Our world-class delivery team will bring your order right to your home with a smile, so you'll never miss a beat or stress running low.</p>
    </div>
    <div class="col-sm-4">
      <span><i class="material-icons">check_circle_outline</i></span>
      <h4>QUALITY</h4>
      <p>Fresher food just tastes better. Our food skips the middlemen and the supermarket shelves, which means our customers only ever get the freshest and tastiest eats and drinks.</p>
    </div>
    <div class="col-sm-4">
      <span><i class="material-icons">sentiment_very_satisfied</i></span>
      <h4>SERVICE</h4>
      <p>Our free personal concierge team is always ready to help you—there's no question or query too small—and you'll always talk to a real person who understands your business and needs.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span><i class="material-icons">shopping_basket</i></span>
      <h4>SELECTION</h4>
      <p>We understand that food culture is a big part of work culture. That's why we fuel happy, healthy work spaces through a wide selection of high-quality food and drink sourced by our in-house experts..</p>
    </div>
    <div class="col-sm-6">
      <span><i class="material-icons">loyalty</i></span>
      <h4>TRUST</h4>
      <p>We're your neighbors and our team is passionate about feeding and fueling our local community. We may not be able to watch your dog, but you can count on us to keep you fully stocked</p>
    </div>
      </div>
</div>
</section>

