.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  }
.navbar a, .navbar .navbar-brand {
  float:left;
  color: #fff !important;
}
.navbar-nav a:hover, .navbar-nav li.active a {
  float:left;
  color: #f4511e !important;
  background-color: #fff !important;
}
