<router-outlet></router-outlet>
<footer>
  <nav class="navbar navbar-default">
    <div class="container-fluid">


            <div class ="product">
            <p>    <i class="material-icons">shopping_basket</i>
              {{productsCount}} Products Available </p>


             <p> <i class ="material-icons">add_shopping_cart</i>
              {{ordersCount}} orders submitted in our store
            </p>
            </div>

               <div class="navbar-expand ml-auto navbar-nav">
         <span> Contact us at :02-345-6789
          <h6> &copy;SSmarket@gmail.com</h6>
        </span>

              </div>

    </div>
  </nav>
 </footer>
