<!--nav bar to navigate to products or order and order product from store-->
<nav class="navbar">
  <a class="navbar-brand " href="/">
   <img id="logo" src="assets/images/supermarket.png" alt="supermarket" style="width:200px;margin-left:0px;">
 </a>
 <div class="navbar-expand mr-auto navbar-nav">
     <ul class="navbar-nav" routerLinkActive="active">
        <li class="nav-item">
            <a class="nav-link" routerLink="./shopping">
              <i class="material-icons">shopping_basket</i>PRODUCTS</a>
          </li>
                  <li class="nav-item">
       <a *ngIf="cart.data.length" class="nav-link" routerLink="./myorder">
         <i class="material-icons">credit_card</i>PLACE ORDER</a>
     </li>

   </ul>
   </div>

  <div>

   <ul class="nav navbar-nav navbar-right">
          <li><h4><i class="material-icons">account_circle</i>
     Welcome {{user.data.username}}</h4></li>
     <br><br>
   <li>  <a href=# (click)=logout()>
         <i class="material-icons">input</i> Logout</a></li>
         </ul>
     </div>

</nav>
  <app-single-product></app-single-product>

<router-outlet></router-outlet>
