<!-- admin welcome page navigate to add/update product-->
<div class="navbar-expand mr-auto navbar-nav">
  <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
          <a class="nav-link" routerLink="./admin-view" class="w3-button w3-red w3-padding-large w3-large">
            <i class="material-icons">shop</i>Update Product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="./admin-view" class="w3-button w3-red w3-padding-large w3-large">
            <i class="material-icons">add</i>Add Product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="./admin-view" class="w3-button w3-red w3-padding-large w3-large">
            <i class="material-icons">storefront</i>Products</a>
        </li>
 </ul>

</div>

<main class="welcome-block">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Assorted Cheese Varieties</div>
        <div class="panel-body">
          <img src="assets/images/cheese-varieties.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"> Assorted Bread & pastries</div>
        <div class="panel-body">
          <img src="assets/images/bread&bakery.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="panel-footer"> </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Assorted Fruit & Vegetables</div>
        <div class="panel-body">
          <img src="assets/images/background.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading"> Assorted Meats</div>
        <div class="panel-body">
          <img src="assets/images/steak.jpg" class="img-responsive" style="width:60%;height:30%;" alt="Image">
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading"> Assorted Wines & beverages</div>
        <div class="panel-body">
          <img src="assets/images/wine.jpg" class="img-responsive" style="width:60%;height:30%;" alt="Image">
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
    </div>
    </div>
    </main>
